@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*****************************************/
/**************** GENERAL ****************/
/*****************************************/

*{
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Raleway;
}

main {
  margin-top: 20px;
}

section, aside {
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

/*****************************************/
/***************** HEADER ****************/
/*****************************************/

header {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header img {
  margin-left: 20px;
}
header > a {
  color: #0065FC;
  font-weight: bold;
  margin-right: 20px;
  
  
}
header nav{
  flex-basis: 100%;
  margin-top: 20px;
}
header nav ul {
  display: flex;  
  justify-content: space-around;
}
header nav ul li {
  flex-basis: 50%;
  text-align: center;  
  padding: 16px 0 ;
  border-bottom: 3px solid #f2f2f2; 
}
header nav ul li:hover{
  border-bottom: 2px solid #0065FC;  
}
header nav ul li a:hover {
  color: #0065FC;
}
/****************************************/
/**************** SEARCH ****************/
/****************************************/

#search_bar {
  flex-basis: 100%; 
}

h1 {  
  margin-bottom: 1rem;
  font-size: 1.4em;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.50rem;
}
p {
  margin-bottom: 0.5rem;
}

#search_bar form {
  display: flex;  
  justify-content: center;
  flex-basis: 100%;   
  margin-top: 40px; 
  margin-bottom: 40px;    
}

#search_bar form label {
  background-color: #f2f2f2;
  border-radius: 16px 0 0 16px;
  padding: 16px;

}

#search_bar form input {
  border-left: none;
  border-right: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding-left: 10px;
  font-weight: bold; 
  flex: 1 1 auto;
}

#search_bar form button {
  background-color: #0065FC;
  border: none;
  border-radius: 16px;
  padding: 16px; 
  margin-left: -10px;   
}

#search_bar form button i {
  color: #fff;
}

#search_bar form button span {
  display: none;
}

/****************************************/
/*************** FILTERS ****************/
/****************************************/

#filters {
  flex-basis: 100%;
  padding-bottom: 40px;  
}
#filters ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;  
}
#filters ul li { 
  border-radius: 32px;
  border: 2px solid #f2f2f2;
  margin-bottom: 8px;
  margin-right: 8px;
  text-align: center;  
}
#filters ul li:hover {
  background-color: #DEEBFF;
}

#filters ul li i {
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-right: 8px;
  color: #0065FC;
  width: 3em;
  line-height: 3em; 
}

#filters ul li span {  
 font-weight: bold;
 margin-right: 15px;  
}

#filters div {
  display: flex;
  flex-direction: row;
  margin-top: 30px;   
}

#filters div p {
  padding: 10px 0 0 10px;  
}

#filters div span i {   
  color: #0065FC;
  border: 2px solid #DEEBFF;
  border-radius:  50%;
  width: 24px;
  line-height: 24px;  
  text-align:  center; 
}

/****************************************/
/********* Aside popular section ********/
/****************************************/

#popular {
  flex-basis:100%;
  flex-flow: column wrap;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color:  #f2f2f2 ;
}
#popular h2 {
  display: flex;
  width: 85%;
  margin: auto;
  margin-bottom: 4%;
  padding: 0;
  justify-content: space-between;
}

#popular article {  
  background-color: #fff;
  border-radius:  1rem;
  height: 150px;
  margin-bottom: 10px;
  padding: 4px;
}

#popular article a figure {
  display: flex;  
  flex-basis: 100%;
  height: 100%;
}

#popular article a figure div {
  flex-basis: 40%;  
}

#popular article a figure div img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius:  1rem 0 0 1rem;
  object-fit:  cover; 
}

#popular article a figure figcaption {
  display: flex;          /*ajout*/
  flex-direction: column; /*ajout*/
  justify-content: space-between;  
  width: 60%;
   
  padding: 10px; 
}

#popular ul {
  display: flex;  
  color:  #0065FC;   
} 

.emptyStar {
  display: flex;
  margin-top: 1%;
  color:  #f2f2f2 ;
}
#popular h3 {
    margin-top: 0;
    padding-top: 0;
}   

/****************************************/
/********* Accommodation section ********/
/****************************************/

#accommodation {
  flex-flow: column wrap;
  padding-top: 5%;
  padding-bottom: 5%;
}
#accommodation h2 {
  width: 85%;
  margin: auto;
  margin-bottom: 4%;
  padding: 0;
}
#accommodation article {
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.65rem 0.5rem #f2f2f2;
  margin: auto;
  margin-bottom: 5%;
  padding: 0.30rem;
}
#accommodation img {
  width: 100%;
  height: 150px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
#accommodation figcaption {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
#accommodation figcaption ul {
  display: flex;    
}

/****************************************/
/*********** Activity section ***********/
/****************************************/

#activity {
  flex-flow: column wrap;
  padding-top: 5%;
  padding-bottom: 5%;
}
#activity h2 {
  width: 85%;
  margin: auto;
  margin-bottom: 4%;
}
#activity article {
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.65rem 0.5rem #f2f2f2;
  margin: auto;
  margin-bottom: 5%;
  padding: 0.30rem;
}

#activity img {
  width: 100%;
  height: 150px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
#activity h3 {
  margin: 20px 0 20px 10px;
}

/****************************************/
/************ Footer section ************/
/****************************************/

footer {
  flex-flow: column wrap;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f2f2f2;
}

footer h4 {
  color: black;
  margin-bottom: 2rem;
}

footer ul {
  margin-bottom: 3rem;
}

footer li {
  margin-bottom: 1rem;
}

#about {
  width: 80%;
  margin: auto;
}

#ourAccommodations {
  width: 80%;
  margin: auto;
}

#assistance {
  width: 80%;
  margin: auto;
}





