body {
  width: 100%;
}

.logo {
  margin-left: 2%;
}
.signup {
  margin-top: 17px;
  margin-right: 2%;
  float: right;
}
.menu {
  width: 100%;
}
.ulNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#search_bar {
  width: 90%;
  padding: 2%;
  margin: auto;
}
.star {
  display: flex;
  margin-top: 1%;
}
h1 {
  text-align: justify;
  margin-bottom: 2%;
}
form {
  width: 90%;
  margin: 5% 2% 2% 2%;
}
#filters {
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}
.ulFilters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.liFilters {
  padding: 2%;
  justify-content: center;
  align-items: center;
}
.info {
  width: 90%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.info span {
  margin-left: 5px;
}
/*Aside popular section*/
#popular {
  flex-basis: 1 1 auto;
  flex-flow: column wrap;
  padding-top: 5%;
  padding-bottom: 5%;
}
.popular-h2 {
  display: flex;
  width: 85%;
  margin: auto;
  margin-bottom: 4%;
  padding: 0;
  justify-content: space-between;
}
.popular-span {
}
.aside-popular {
  display: flex;
  align-items: center;
}
.popular-insert {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
  padding: 2%;
}
.img-aside {
  width: 34%;
  height: 120px;
}
.aside-fig {
  width: 50%;
  margin-left: 5%;
}
/*Accommodation section*/
#accommodation {
  flex-flow: column wrap;
  padding-top: 5%;
  padding-bottom: 5%;
}
.accommodation-h2 {
  width: 85%;
  margin: auto;
  margin-bottom: 4%;
  padding: 0;
}
.accommodation-insert {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
  padding: 2%;
}
.img-accommodation {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
/*Activity section*/
#activity {
  flex-flow: column wrap;
  padding-top: 5%;
  padding-bottom: 5%;
}
.activity-h2 {
  width: 85%;
  margin: auto;
  margin-bottom: 4%;
}
.activity-insert {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
  padding: 2%;
}
.img-activity {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.activity-h3 {
  margin: 20px 0 20px 10px;
}
/*Footer section*/
footer {
  flex-flow: column wrap;
  padding-top: 5%;
  padding-bottom: 5%;
}
#about {
  width: 80%;
  margin: auto;
}
#our_accommodations {
  width: 80%;
  margin: auto;
}
#assistance {
  width: 80%;
  margin: auto;
}
.footer_h4 {
  color: black;
  margin-bottom: 4%;
}
.footer_li {
  margin-bottom: 2%;
}
