@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/*****************************************/
/**************** GENERAL ****************/
/*****************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
}

section,
aside {
  padding: 40px 20px 40px 20px;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  height: 20px;
  margin-bottom: 25px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 8px;
}

h4 {
  font-size: 1.25rem;
  font-weight: 900;
  margin-top: 24px;
}

p {
  margin-bottom: 8px;
}

figcaption ul li .active {
  color: #0065fc;
}

main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/*****************************************/
/***************** HEADER ****************/
/*****************************************/

header {
  /*margin-top: 15px;*/
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

header img {
  margin-left: 20px;
}

header > a {
  color: #0065fc;
  font-weight: bold;
  margin-right: 20px;
}

header > a:hover {
  font-size: 1.1rem;
}

header nav {
  flex-basis: 100%;
  margin-top: 15px;
}

header nav ul li a {
  display: block;
  padding: 15px 0;
  text-align: center;
}

header nav ul {
  justify-content: space-around;
}

header nav ul li {
  flex-basis: 50%;
  border-bottom: 3px solid #f2f2f2;
}

header nav ul li:hover {
  border-bottom: 3px solid #0065fc;
}

header nav ul li:hover a {
  color: #0065fc;
}

/****************************************/
/**************** SEARCH ****************/
/****************************************/

#searchBar h1 {
  margin-bottom: 16px;
  font-size: 1.4em;
  font-weight: bold;
}

#searchBar form {
  margin-top: 40px;
}

#searchBar label {
  background-color: #f2f2f2;
  border-radius: 16px 0 0 1rem;
  padding: 16px;
}

#searchBar input {
  border-left: none;
  border-right: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding-left: 10px;
  font-weight: bold;
  flex: 1 1 auto;
  font-size: 1rem;
}

#searchBar input:focus {
  outline: none;
}

::placeholder {
  color: black;
}

#searchBar button {
  background-color: #0065fc;
  border: none;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0 16px 16px 0;
  padding: 16px;
  margin-left: -10px;
}

#searchBar button i {
  color: #fff;
}

#searchBar span {
  display: none;
}

/****************************************/
/*************** FILTERS ****************/
/****************************************/

#filters {
  padding-top: 0;
}

#filters ul {
  justify-content: flex-start;
}

#filters li {
  border-radius: 32px;
  border: 2px solid #f2f2f2;
  margin-bottom: 10px;
  margin-right: 8px;
  text-align: center;
}

#filters li:hover {
  background-color: #deebff;
}

#filters ul li i {
  background-color: #deebff;
  border-radius: 50%;
  margin-right: 8px;
  color: #0065fc;
  width: 48px;
  line-height: 48px;
}

#filters li span {
  font-weight: bold;
  margin-right: 15px;
}

#filters p {
  margin-top: 24px;
  align-items: baseline;
  line-height: 22px;
}

#filters p i {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  min-width: 28px;
  min-height: 28px;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

/****************************************/
/********* Aside popular section ********/
/****************************************/

#popular {
  background-color: #f2f2f2;
}

#popular h2 {
  justify-content: space-between;
}

#popular article {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 1px 1px 5px 2px #e2e1e1;
  height: auto;
  margin-bottom: 10px;
  padding: 4px;
}

#popular figure {
  height: 100%;
}

#popular div {
  flex-basis: 40%;
}

#popular img {
  width: 100%;
  max-width: 100%;
  height: 160px;
  border-radius: 16px 0 0 16px;
  object-fit: cover;
  vertical-align: bottom;
}

#popular figcaption {
  flex-basis: 60%;
  padding: 10px 16px 10px 16px;
}

#popular ul {
  color: #f2f2f2;
  margin-top: auto;
}

/****************************************/
/********* Accommodation section ********/
/****************************************/

#accommodation article {
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 1px 1px 6px 2px #f2f2f2;
  margin-bottom: 10px;
  padding: 4px;  
}

#accommodation img {
  flex-basis: auto;
  height: 128px;
  max-width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

#accommodation figcaption {
  width: 100%;
  padding: 5px;
}

#accommodation ul {
  color: #f2f2f2;
}

section .bold {
  margin-top: 10px;
  font-weight: bold;
}

/****************************************/
/*********** Activity section ***********/
/****************************************/

#activity {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 15px;
}

#activity article {
  border-radius: 16px;
  box-shadow: 2px 2px 6px 2px #f2f2f2;
  margin-bottom: 20px;
}

#activity figure {
  height: 100%;
}

#activity img {
  width: 100%;
  max-width: 100%;
  height: 128px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

#activity figcaption {
  width: 100%;
  align-items: baseline;
}

#activity figure div {
  width: 100%;
}

#activity h3 {
  padding: 20px 0 19px 15px;
}

/****************************************/
/************ Footer section ************/
/****************************************/

footer {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  background-color: #f2f2f2;
}

footer div {
  flex-basis: 100%;
}

footer h4 {
  color: black;
  margin-bottom: 24px;
}

footer ul li {
  flex-basis: 100%;
  margin-bottom: 16px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------Media query----------------------------------------------------------------------*/

@media screen and (min-width: 578px) {
  #searchBar input {
    flex: none;
  }

  #accommodation {
    flex-direction: row;    
    /*width: 100%;*/
    justify-content: space-around;
  }

  #accommodation article {
    flex-basis: 45%;
  }

  #accommodation h2,
  #activity h2 {
    flex-basis: 100%;
  }

  .bold {
    flex-basis: 100%;
  }

  #activity {
    flex-direction: row;
    justify-content: space-around;
  }

  #activity .col-1 article,
  #activity .col-3 article {
    flex-basis: 100%;
  }

  #activity .col-1 img,
  #activity .col-3 img {
    min-height: 100%;
  }

  .col-1,
  .col-3 {
    flex-basis: 45%;
  }

  #activity .col-1 article figure div,
  #activity .col-3 article figure div,
  #activity .articleBig figure div,
  #activity .articleSmall figure div {
    flex-basis: 100%;
  }

  #activity .articleBig {
    /*height: 50%;*/
    flex-basis: 50%;
  }

  #activity .articleBig img {
    min-height: 100%;
  }

  #activity .articleSmall img {
    height: 94px;
    vertical-align: bottom;
  }

  #activity .articleSmall {
    flex-basis: 35%;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    width: 45%;
    justify-content: space-between;
    height: 460px;
  }

  footer {
    justify-content: center;
  }

  footer div div {
    width: 100%;
    text-align: center;
  }

  /*********** screen sup 768px inf 992px **********/

  @media screen and (min-width: 768px) {
    footer div div {
      flex-basis: 33%;
      padding-right: 25px;
      text-align: left;
    }

    #activity .articleSmall img {
      height: 143px;
      vertical-align: bottom;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4 {
      height: 600px;
    }
  }

  /*********** screen sup 992px  inf 1200px **********/

  @media screen and (min-width: 992px) {
    #searchBar form label {
      width: 50px;
      line-height: 20px;
      text-align: center;
    }

    #searchBar form label .fas {
      font-size: 1.3rem;
    }

    #searchBar input {
      flex-basis: 280px;
    }

    #searchBar button .fas {
      font-size: 1.3rem;
    }

    #popular {
      justify-content: center;
    }

    #popular article {
      width: 75%;
      align-self: center;
      margin-bottom: 15px;
    }

    #accommodation article {
      flex-basis: 30%;
    }

    #activity .articleSmall img {
      height: 179px;
      vertical-align: bottom;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4 {
      height: 700px;
    }
  }

 /*********** screen sup 1200px **********/

  @media screen and (min-width: 1200px) {

    header {
      align-items:initial;
    }
    
    header img {
      margin-right: auto;
      margin-top: 10px;
    }

    header nav {
      flex-basis: 20%; 
      margin-top: 0;         
    }

    header nav ul {
      margin-top: auto;      
    }

    header nav ul li {
      border-bottom: none;
      text-align: center;
      padding-top: 30px;
    }

    header nav ul li:hover {
      border-bottom:none;
      border-top: 3px solid #0065FC;
      padding-top: 27px;
      display: inline;
    }

    header nav ul li a {
     display: inline;          
    }

    header nav ul li :hover a {      
      padding-top: 28px;
  }

    header > a {
      order: 1; 
      flex-basis: 10%;
      text-align: center;
      padding-top: 30px;               
    }

    header > a:hover {
      font-size: 1rem;
      border-top: 3px solid #0065FC;
      padding-top: 27px; 
        
    }

    #searchBar span {
      display: initial;
      color: #ffffff;
    }

    #searchBar button i {
      display: none;
    }

    #filters {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
    #filters h2 {
      flex-basis: 5%;
    }

    #filters p {
      flex-basis: 100%;
    }

    section , aside {
      padding-bottom: 20px;
    }

    .desktop {
      display: flex;
      justify-content: space-around;
      margin-bottom: 40px;
    }

    #popular {
      flex-basis: 30%;
      border-radius: 16px;
      order: 1;      
    }

    #popular article {
      width: 100%;
    }

    #accommodation {
      flex-basis: 65%;
      border-radius: 16px;
      background-color: #f2f2f2;
      justify-content: space-between;      
    }

    #accommodation > h2 {
      margin-bottom: 0;
    }

    #accommodation article {
      width: 100%;
      margin-top: 0;
      flex-basis: 32%;
      height: 210px;      
    }

    #activity {
      justify-content: space-between;
    }

    #activity .articleSmall img {
      height: 91px;
      vertical-align: bottom;
    }
    
    #activity .col-1,#activity .col-2,#activity .col-3,#activity .col-4 {
      flex-basis: 23%; 
      height: 450px;     
    }
    
    #activity .col-4 .articleSmall {
      flex-basis: 40%;
    }

    #activity .col-4 .articleSmall img {
      height: 114px;
    }

    #activity .col-4 .articleBig {
      flex-basis: 45%;
    }

    footer div {
      max-width: 1208px;
      margin: auto;
    }
  }
} 
